<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About us</title>
        <link rel="stylesheet" href="{% static 'about.css' %}" />
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="icon" href="{% static 'PICO-LOGO-SHORT.png' %}" type="image/gif">
        <link rel="stylesheet" href="/static/about.css">
      </head>
      
      <body>
        <!-- -----------------------------------------------company---------------------------------------------------------------- -->
        <div class="company">
          <div class="img">
            <img src="https://raw.githubusercontent.com/pico-india/main-django/main/static/about-team.jpg" alt="" />
          </div>
          <div class="company-info">
            <span>CURIOSITY <span class="our">FOR CREATIVITY</span></span>
            <p>
              <b>Blog-o-holic</b> is a blogging website dedicated for sharing your blogs with the public. It allows
              writers to upload blogs to the website as well as viewers to view them as well. In Blog-o-holic, we are finding aspiring writers and welcome them on our website.
            </p>
          </div>
        </div>
        <!-- ---------------------------------------------------------------------------------------------------------------------- -->
        <!-- ----------------------------------------------------team-------------------------------------------------------------- -->
        <div class="team"><span>OUR TEAM</span></div>
        <div class="container">
          <div class="card">
            <div class="card-image loading"><img src="/static/WhatsApp Image 2022-09-18 at 8.20.16 AM.jpeg" alt="" /></div>
            <div class="card-info">
              <h3 class="card-title loading"><span>Laxit <span class="yellow-surname">Nahar</span></span></h3>
              <p class="card-description loading">
                <span class="personal-info">
                  <span class="info">Full-Stack Web Developer</span> <br>
                  Pursuing CS Engineering<br>
                  Email: <a href="mailto:'naharlaxit@gmail.com'">naharlaxit@gmail.com</a>
                </span>
              </p>
              
            </div>
          </div>
          <div class="card">
            <div class="card-image loading"><img src="/static/b9e167aa-d759-4f62-a108-a43550854028.jfif" alt="" /></div>
            <div class="card-info">
              <h3 class="card-title loading"><span>Harshit <span class="yellow-surname">Dhanuka</span></span></h3>
              <p class="card-description loading">
                <span class="personal-info">
                  <span class="info">Front-End Developer</span> <br>
                  Pursuing CS Engineering <br>
                  Email: <a href="mailto:'harshitdhanuka1402@gmail.com'">harshitdhanuka1402@gmail.com</a>
                </span>
              </p>
              
            </div>
          </div>
          <div class="card">
            <div class="card-image loading"><img src="/static/8ea8cc56-169d-4ed6-9f8e-5209cbd9a2b8.jfif" alt="" /></div>
            <div class="card-info">
              <h3 class="card-title loading"><span>Kartik <span class="yellow-surname">Sankhla</span></span></h3>
              <p class="card-description loading">
                <span class="personal-info">
                  <span class="info">Content Writer/UI Designer</span> <br>
                  Pursuing CS Engineering <br>
                  Email: <a href="mailto:'kartiksankhla.cse24@jecrc.ac.in'">kartiksankhla.cse24@jecrc.ac.in</a>
                </span>
              </p>
              
            </div>
          </div>
          <div class="card">
            <div class="card-image loading"><img src="/static/aad3108c-d9f8-4a63-a4aa-f6fa65bbcd48.jfif" alt="" /></div>
            <div class="card-info">
              <h3 class="card-title loading"><span>Nishant <span class="yellow-surname">Munshi</span></span></h3>
              <p class="card-description loading">
                <span class="personal-info">
                  <span class="info">Graphic and UI/UX Designer</span> <br>
                  Pursuing CS Engineering <br>
                  Email: <a href="mailto:'nmunshi7@gmail.com'">nmunshi7@gmail.com</a>
                </span>
              </p>
              
            </div>
          </div>
        </div>
        <!-- ----------------------------------------footer------------------------------------------ -->
        
      </body>
      <script src="/static/about.js"></script>
        <!-- ---------------------------------------------------------------------------------------- -->
        <!-- -------------------------------------------------------------------------------------------- -->
      
      </html>