<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    


    <div class="row">
        <% blog.forEach(function(blog){ %>
            <div class="col-md-12 col-lg-4 mb-4">
                <div class="card-body">
                    <p class="small">
                        <%= blog.title%>
                    </p>
                    <p class="small">
                        <%= blog.categories%>
                    </p>

                </div>
                <button data-products="<%= JSON.stringify(blog)%>" class="add-likes">
                    <span>ADD</span>
                  </button>
            </div>
            <% } )%>
    </div>
    
</body>

</html>