<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/sign_up" method="POST">
        <label for="fname">username:</label><br>
        <input type="text" id="fname" name="username" required><br>
        <label for="fname">name:</label><br>
        <input type="text" id="fname" name="name" required><br>
        <label for="fname">email:</label><br>
        <input type="email" name="email" required><br>
        <label for="lname">phone no</label><br>
        <input type="number" id="lname" name="phoneno" required><br>
        <label for="fname">password:</label><br>
        <input type="password" id="fname" name="password" required><br>
        <label for="fname">Confirm password:</label><br>
        <input type="password" id="fname" name="confirmpassword" required><br><br>   
        <button type="submit">Signup Now</button>
      </form>
</body>
</html>